<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/lists">Home</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://avatars.githubusercontent.com/u/80810097?v=4" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class ="container">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <h2><%= @list.name %>'s Bookmarks</h2>
        <small class="bottom">
          <%= link_to "❌ ",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          <%= link_to "✏️", edit_list_path(@list) %>
        </small>
      </div>
    <div class="card-trip">
        <% @list.bookmarks.each do|b|%>
          <div class="bookmark">
            <p><%=b.comment %></p>
            <p><%= link_to "Delete comment?❌",
              bookmark_path(b),
              method: :delete,
              data: { confirm: "Are you sure?" } %><p>
            </div>
           <% end %>
          </div>
        </div>
      </div>




