<div class="container">
    <div class="lists">
      <h3><%= @list.name %>
        <small class="bottom">
          <%= link_to "❌ ",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
          <%= link_to "✏️", edit_list_path(@list) %>
        </small>
        </h3>
  </div>
  <div class="container">
        <div class="bookmarks">
          <h6>bookmarks</h6>
          <% @list.bookmarks.each do|b|%>
            <div class="bookmark">
              <p><%=b.comment %></p>
              <p><%= link_to "Delete comment?❌",
              bookmark_path(b),
              method: :delete,
              data: { confirm: "Are you sure?" } %><p>
            </div>
            <% end %>
          </div>
      </div>
  </div>

